{% include 'main.html.twig' %}

<body>

    <div class="content">
        <h2>Cards</h2>

        <div>
            {% block navbar %}
                    <a href="{{ path("deck") }}">Deck</a> |
                    <a href="{{ path("shuffle") }}">Shuffle Deck</a> |
                    <a href="{{ path("draw") }}">Draw Random Card</a> |
                    <a href="{{ path("number") }}">Card By Number</a> |
                    <a href="{{ path("player") }}">Deal Deck To Player</a> |
                    <a href="{{ path("deck2") }}">Deck Number Two</a> |
                    <a href="{{ path("api") }}">Application Programming Interface (API)</a>
            {% endblock %}
        </div>
    </div>

</body>

{% include 'footer.html.twig' %}
