<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/glider.svg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
    <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }});">
        <h1 class="site-title">Zack's Website</h1>
        <nav class="site-navigation">
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
            </ul>
        </nav>
    </header>

    {% block body %}{% endblock %}

<footer class="site-footer" style="background-image: url({{ asset('img/background.jpg') }});">
    <div class="footer-content">
        <ul>
            <li><a href="#"">Facebook</a></li>
            <li><a href="#"">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </div>
</footer>

</body>
</html>
